
@{
    ViewData["Title"] = "Create";
    var emailUser = User.FindFirst(System.Security.Claims.ClaimTypes.Email).Value;
}

<link rel="stylesheet" href="~/css/ChatStyle.css" />

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Chat</h4>
        </div>
        <div class="panel-body">
            <ul class="chat" id="chatBody">
                <li class="left clearfix">
                </li>
            </ul>
        </div>
        <input id="visitChatSeletedId" hidden value="0">
        <div class="panel-footer">
            <div class="input-group">
                <input id="btn_input" type="text" class="form-control input-sm" placeholder="Write your message here..." />
                <span class="input-group-btn">
                    <button class="btn btn-warning btn-sm" id="btn_chat">
                        Send
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var urlSendMessage = '@Url.Action("SendMessage", "Messages")';
        var urlGetAllChatMessages = '@Url.Action("GetAllChatMessages", "Messages")';
        var emailUserFromIdentity = '@emailUser';
    </script>
    <script src="~/js/chatBot.min.js"></script>
}




