@model LoginViewModels

@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutLogin";
}

<center>
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="panel  panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">Iniciar sesión</h2>
                    </div>
                    <div class="panel-body">
                        <section>
                            <form asp-controller="Logins" asp-action="Index" method="post">
                                <div class="form-group  text-left">
                                    <label asp-for="Input.Email"></label>
                                    <input asp-for="Input.Email" class="form-control" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group  text-left">
                                    <label asp-for="Input.Password"></label>
                                    <input asp-for="Input.Password" class="form-control" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Login In</button>
                                </div>
                            </form>
                        </section>
                    </div>
                </div>
                <div>
                    <a asp-action="Create" asp-controller="Users">Register your account</a>
                </div>
                <label id="indexMessage" class="error">@Html.DisplayFor(m => m.ErrorMessage)</label>
            </div>
        </div>
    </div>
</center>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

